{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shubh Vivah Sanstha</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <style>
        #messages{
        background-color: yellow;
        }
    </style>
</head>
<body>
{% include "navbar.html" %}
{% if messages %}
<div class="mt-5 pt-4" >

        {% for message in messages %}
        <div id="messages" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}

    </div>
{% endif %}
{% block content %}
    {% endblock content %}

{% block extra_scripts %}
    {% endblock extra_scripts %}
</body>
</html>